/Animations
animmaker*
/Audio/BGM/*.jpg
/Herramientas
/Marca de agua versión testing
/Recursos
/Videos
/Post
/Prueba
/Nueva música
errorlog.txt
extendtext*
/Pokémons a insertar
/Savedata/*.rxdata
/REQUIRED_BY_INSTALLER_UPDATER
INSTALL_OR_UPDATE.bat